{% extends "base.html" %}

{% block content %}
    <h1>{{ seller.username }}</h1>
    <h2>Reviews</h2>
    <table>
        <tr>
            <th>Reviewer</th>
            <th>Date</th>
            <th>Location</th>
            <th>Stars</th>
            <th>Content</th>
        </tr>
        {% for review in reviews %}
        <tr>
            <td>{{ review.User.username }}</td>
            <td>{{ review.SellerReviews.date_time }}</td>
            <td>{{ review.SellerReviews.location }}</td>
            <td>{{ review.SellerReviews.stars }}</td>
            <td>{{ review.SellerReviews.content }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Write a review</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.stars.label }}<br>
            {{ form.stars(size=32) }}<br>
            {% for error in form.stars.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(size=32) }}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}