{% extends "base.html" %}
{% block title %}Cart{% endblock %}
{% block content %}
    <h1>Shopping Cart</h1>
    <table class="generic_table">
    <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Unit Price</th>
        </tr>
        </thead>
    <tbody>
        {% for item in cart %}
            <tr>
                <td></td>
                <td><div><a class="action" href="{{ url_for('item', id=item[0].Item.id) }}">{{ item[0].Item.name }}</a></div>
                    <img width="30%" height="30%" src="{{url_for('static', filename=item[1])}}" /></td>
                <td><p>
                    <button onclick='change({{ item[0].Cart.cart_quantity|tojson }}, {{ item[0].Item.id|tojson }}, 0)'>-</button>
                    {{ item[0].Cart.cart_quantity }}
                    <button onclick='change({{ item[0].Cart.cart_quantity|tojson }}, {{ item[0].Item.id|tojson }}, 1)'>+</button></p>
                    <a class="action" href="{{ url_for('delete_from_cart', item_id=item[0].Item.id) }}">Delete</a>
                </td>
                <td id="price">$
                    <script type="text/javascript">
                        var StringValue = parseFloat({{ item[0].Item.price|tojson }});
                        document.write(StringValue.toFixed( 2 ));
                    </script>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td>$
                <script type="text/javascript">
                    formatPrice({{ price }})
                </script>
            </td>
        </tr>
    </tbody>
    </table>

    <form action="" method="post" novalidate>
        <input type="submit" name="checkout" onclick='return doubleCheck({{ price|tojson }})' value="Checkout">
    </form>

{% endblock %}