{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block content %}
    <h1>All Categories</h1>
    <table class="generic_table">
        <tr>
            <th>Categories</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>
                    <div class="category_link"><a class="action" href="{{ url_for('category', name=category) }}">{{ category.name }}</a></div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}