{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    {% if current_user.is_anonymous %}
        <h1>Login to See More</h1>
    {% else %}
        <h1>Hi, {{ current_user.username }}!</h1>
    {% endif %}

    <h2>Recommended Item List</h2>
    {% for cat in ratings %}
    <h3>{{ cat }}</h3>
        <table class="generic_table">
            <thead>
            </thead>
            <tbody>
            {% for key in ratings[cat] %}
                <tr>
                    <td>
                        <div><a class="action" href="{{ url_for('item', id=key) }}">{{ names[cat][key] }}</a></div>
                        <img width="30%" height="30%" src="{{url_for('static', filename=images[cat][key])}}" /></td>
                    </td>
                    <td>Average rating: <script type="text/javascript">
                        formatPrice({{ ratings[cat][key] }});
                    </script></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endfor %}
{% endblock %}