{% extends "base.html" %}

{% block title %}{{ item.name }}{% endblock %}
{% block content %}
    <div class="grid-container">
    <div class="item">
    
        <h2>{{ item.name }}</h2>

        <p style="float: left;"><img src="{{url_for('static', filename=imagepath)}}" /></p>
        
        <div style = "position:relative;left:30;top:50px;">
          <p>    
              Price: $
              <script type="text/javascript">
                  formatPrice({{ item.price }});
              </script><br>
            {% if item.is_for_sale %}
              Quantity: {{ item.quantity }}<br>
            {% else %}
            Quantity: 0<br>
            {% endif %}
            Average Review: {{ avg_rating }}<br>
              Seller: <a class="action" href="{{ url_for('add_seller_review', id=item.seller.seller_id) }}">{{ item.seller.username }}</a><br>
              Category: {{ item.category }}<br>
              In Stock: {{ item.is_for_sale }}<br>
              <p>
                  Description:<br>
                  <p>{{ item.description }}</p><br>
              </p>
          </p>
        </div>

    </div>
    <div class="addtocart">
        <h2>Add to Cart</h2>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.item_quantity.label }}<br>
                {{ form.item_quantity }}<br>
                {% for error in form.item_quantity.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <input type='submit' name='cart' value='Add to cart'>
        </form>
    </div>
    <div class="reviews">
        <h2>Reviews</h2>
    {% if reviews | length == 0 %}
    <h3>There are no reviews for this item</h3>
    {% else %}
    <table>
        <tr>
            <th>Reviewer</th>
            <th>Date</th>
            <th>Location</th>
            <th>Stars</th>
            <th>Content</th>
        </tr>
        {% for review in reviews %}
        <tr>
            <td>{{ review.User.username }}</td>
            <td>{{ review.Reviews.date_time }}</td>
            <td>{{ review.Reviews.location }}</td>
            <td>{{ review.Reviews.stars }}</td>
            <td>{{ review.Reviews.content }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
        </table>
        <h2>Write a review</h2>
        <form action="" method="post" novalidate>
            {{ review_form.hidden_tag() }}
            <p>
                {{ review_form.location.label }}<br>
                {{ review_form.location(size=32) }}<br>
                {% for error in review_form.location.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ review_form.stars.label }}<br>
                {{ review_form.stars(size=32) }}<br>
                {% for error in review_form.stars.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ review_form.content.label }}<br>
                {{ review_form.content(rows='5', cols='35') }}<br>
                {% for error in review_form.content.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <input type='submit' name='review' value='Add review'>
        </form>
    </div>
    </div>
{% endblock %}