{% extends "base.html" %}
{% block title %}Seller Summary{% endblock %}
{% block content %}
    <h1>Your items for sale</h1>
    <table class="generic_table">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>For Sale</th>
            <th></th>
        </tr>
        {% for item in items %}
            <tr>
                <td><div><a class="action" href="{{ url_for('item', id=item.id) }}">{{ item.name }}</a></div></td>
                <td>$
                    <script type="text/javascript">
                        formatPrice({{ item.price }});
                    </script>
                </td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.category }}</td>
                {% if item.is_for_sale %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                <td><div><a class="action" href="{{ url_for('edit_item', id=item.id) }}"> Edit item </a></div></td>
            </tr>
        {% endfor %}

    </table>
    <br>
    <a href="{{ url_for('add_item') }}">Add Item</a>



{% endblock %}