{% extends "base.html" %}
{% block title %}Trade History{% endblock %}
{% block content %}
    <h1>Trade History</h1>
    {% for order in history %}
    <h3>Purchase Date: {{ order["datetime"] }}</h3>
    <table class="generic_table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
    {% for purchase in order["orders"] %}
        <tr>
            <td><div><a class="action" href="{{ url_for('item', id=purchase.Item.id) }}">{{ purchase.Item.name }}</a></div></td>
            <td>Price: $
                <script type="text/javascript">
                    formatPrice({{ purchase.OrderHistory.price_sold }});
                </script>
            </td>
            <td>Quantity Sold: {{ purchase.OrderHistory.quantity_sold }}</td>
            <td>Buyer: {{ purchase.User.username }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endfor %}

{% endblock %}